/* Website define*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*handy adjust*/
html {
  height: -webkit-fill-available;
}

/* font, background adjust*/
body {
  font-family: Arial;
  color: #111111;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: -webkit-fill-available;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6495ed;
  /* Hintergrundfarbe in Blau setzen */
}

.navigation li {
  float: right;
}

.navigation li a {
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 20px;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:link,
a:visited {
  color: #fff;
}

/*correct font h1*/
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
  font-size: 32px;
}

/*correct font h2*/
h2 {
  text-align: left;
  margin-top: 3%;
  margin-left: 20px;
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.logo {
  width: 9%;
  height: 9%;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  top: 50px;
  margin: 0.5em;
}

.startseitebilder {
  width: 40%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  top: 50px;
}

.texthome {
  text-align: center;
}

div.container {
  text-align: left;
}

ul.myUL {
  display: inline-block;
  margin-left: 20px;
}

.karte {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  height: 500px;
  position: relative;
}

.zimmer-container {
  display: inline-block;
  align-items: center;
}

.zimmer-image {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  height: 70%;
  width: 40%;
}

.activity img {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  height: 70%;
  width: 40%;
  background-position: center;
}

.activity-details {
  flex-grow: 1;
}

.activity ul {
  list-style-type: none;
  padding-left: 0;
}

.activity ul li {
  margin-bottom: 5px;
}

.activity ul p {
  margin-top: 0;
}

form {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 20px; 
}

/*Adjust footer and place it correctly*/
/* CSS für den Footer */
footer {
  display: block;
  height: 150px;
  width: 100%;
  margin: 0;
  background-color: #6495ed;
  color: #fff;
  padding: 20px 0; /* Hinzugefügt, um den Inhalt innerhalb des Footers zu zentrieren */
  margin-top: auto;
}

footer table {
  width: 100%;
  padding-left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.menue img {
  display: block;
  width: 300px;
}

.impressumDaten,
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.impressumDaten div {
  margin: 50px;
}

.activity {
  display: flex;
  align-items: center;
  margin-left: 10px;
}


