/* Website define*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*handy adjust*/
html {
  height: -webkit-fill-available;
}

/* font, background adjust*/
body {
  font-family: Arial;
  color: #111111;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: -webkit-fill-available;
}

/*Background adjust*/
nav {
  background: #6495ed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0px 20px;
}

/*Adjust the font in the navigation area*/
nav ul {
  float: right;
  margin-left: 20px;
}

/*Place font correctly*/
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0%;
}

/*customize font*/
nav ul li a {
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}

/*white appearance when selecting the text*/
a.active,
a:hover {
  background: #111111;
}

/*correct font h1*/
h1 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 2% auto;
}


/*correct font h2*/
h2 {
  text-align: center;
  margin-top: 3%;
}

.homepicture {
  width: 50%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  top: 50px;
}

/*map adjust*/
.map {
  height: 50%;
  width: 50%;
  border: 0;
  margin-bottom: 240px;
}

/*Adjust footer and place it correctly*/
footer {
  position: static;
  bottom: 0;
  height: auto;
  width: 100%;
  margin: 0%;
  background-color: #6495ed;
  color: #111111;
}

footer > table {
  width: 100%;
  padding-left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}
