/* Website define*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*handy adjust*/
html{
	height: -webkit-fill-available;
}

/* font, background adjust*/
body {
	font-family: Arial;
	color: #111111;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	margin:  auto;
	height: -webkit-fill-available;
}

/*Background adjust*/
nav {
	background: #6495ED;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0px 20px;
}

/*Adjust the font in the navigation area*/
nav ul {
	float: right;
	margin-left: 20px;
}

/*Place font correctly*/
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0%;
}

/*customize font*/
nav ul li a {
	color:  #ffffff;
	font-size: 13px;
	text-transform: uppercase;
}

/*white appearance when selecting the text*/
a.active,a:hover {
	background: #111111;
}

/*correct font h1*/
h1 {
	display: flex;
	text-align: center;
	margin-top: 0%;
	margin: 3%;
	margin-bottom: 2%;
}

/*correct font h2*/
h2 {
	text-align: center;
	margin-top: 3%;
}

.homepic {
	width: 50%;
	height: 70%;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	top: 50px;
}


/*map adjust*/
.map {
	height: 50%;
	width:50%;
	border:0; 
	margin-bottom: 240px;
}

img {
	max-width: 100%;
	}
	.slider-container {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	}
	.menu {
	position: absolute;
	left: 0;
	z-index: 900;
	width: 100%;
	bottom: 0;
	}
	.menu label {
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 50px;
	margin: 0 0.2em 1em;
	}
	.menu label:hover,.menu label:focus {
	background: #1c87c9;
	}
	.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 10;
	padding: 8em 1em 0;
	background-size: cover;
	background-position: 50% 50%;
	transition: left 0s 0.75s;
	}
	[id^="slide"]:checked + .slide {
	left: 0;
	z-index: 100;
	transition: left 0.65s ease-out;
	}
	.slide-1 {
	background-image: url("/uploads/media/default/0001/03/5bfad15a7fd24d448a48605baf52655a5bbe5a71.jpeg");
	}
	.slide-2 {
	background-image: url("/uploads/media/default/0001/03/66cf5094908491e69d8187bcf934050a4800b37f.jpeg");
	}

/*Adjust footer and place it correctly*/
footer {
	position: static;
	bottom: 0;
	height: auto;
	text-align: left;
	width: 100%;
	margin: 0%;
	background-color: #6495ED;
	color: #111111;
}