/* Website define*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*handy adjust*/
html {
  height: -webkit-fill-available;
}

/* font, background adjust*/
body {
  font-family: Arial;
  color: #111111;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: -webkit-fill-available;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6495ed;
  /* Hintergrundfarbe in Blau setzen */
}

.navigation li {
  float: right;
}

.navigation li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:link,
a:visited {
  color: #fff;
}

/*correct font h1*/
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
}

/*correct font h2*/
h2 {
  text-align: left;
  margin-top: 3%;
}

.logo {
  width: 7%;
  height: 7%;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  top: 50px;
}

.homepicture {
  width: 50%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  top: 50px;
}

/*Adjust footer and place it correctly*/
footer {
  position: static;
  bottom: 0;
  height: auto;
  width: 100%;
  margin: 0%;
  background-color: #6495ed;
  color: #fff;
}

footer table {
  width: 100%;
  padding-left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

.menue {
  display: grid;
  grid-template-columns: auto auto auto;
}

.menue img {
  display: block;
  width: 300px;
}

.menue div,
.menue {
  border: solid;
}